.container_title{

    margin-left: 1%;

}
.container_title h1{
    font-size: 2em;
}

.container_form{
    /* background-color: yellow; */
    width: auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_error{
    color: red;
    font-size: 20px;
}

form {
    /* background-color: blue; */
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_form input{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 20vw;
    height: 35px;
    font-size: 20px;
    margin-bottom: 20px;
    /* background-color: yellowgreen; */
    border: 1px solid black;    
    border-radius: 10px;
    padding-left: 10px;
}

.container_form select{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 21vw;
    height: 35px;
    font-size: 20px;
    margin-bottom: 20px;
    /* background-color: yellowgreen; */
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

.container_form label {
    font-size: 24px;
}
