body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: black;
    color: white;
    position: fixed; /* Torna o header fixo */
    top: 0; /* Posiciona o header no topo */
    width: 100%; /* Define a largura do header como 100% da viewport */
    z-index: 2; /* Define a ordem de camadas para garantir que o header fique sobre o conteúdo */
}

.logo {
    width: 30%;
}

/* Estilização do LOGOTIPO */
.logo_caixa {
    width: 940px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav a:hover {
    border: 1px solid red;
    padding: 4px;
    border-radius: 4px;
}

.titulo-separador {

    margin: 130px 0 0 1%;
    /* margin-top: 130px; */
}

.titulo-separador h2 {
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ddd;
}

.tabela {
    width: 60%;
    margin: 0 auto; /* Centraliza a tabela */
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #f2f2f2;
}

/* Adicionando valores na coluna do total */
.tabela td:nth-child(6) {
    font-weight: bold;
    color: red;
}

#filtrar-tabela{
    width: 19.5%;
    height: 35px;
    margin-bottom: 10px;
}

.invisivel{
    display: none;
}



/* Calcular frete */



.container_filter{
    display: flex;
    justify-content: center;
}

.posicaoFilter{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.posicaoFilter input{
    width: 300px;
    height: 10px;
}

.container_btnCadastro{
    display: flex;
    justify-content: center;
}

.btnCadastro{
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    width: 100%;
    height: 4vh;
    border-radius: 10px;
}

.btnCadastro:hover{
    background-color: white;
    color: black;
    font-size: 15px;
    border: 1px solid;
    width: 100%;
    height: 4vh;
    border-radius: 10px;
    cursor: pointer;
}

.container_btnEncomendas{
    display: flex;
    justify-content: center;
    margin: 3% 0% 3% 0%;
    width: 100%;
}

.btnEncomendas{
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    width: 20%;
    height: 4vh;
    border-radius: 10px;
}

.btnEncomendas:hover{
    background-color: white;
    color: black;
    font-size: 15px;
    border: 1px solid;
    width: 20%;
    height: 4vh;
    border-radius: 10px;
    cursor: pointer;
}

hr {
   display: flex;
   justify-content: flex-start;
   align-items: center; 
   width: 75%;
}